.app {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
  margin-top: 2em;
}

@media only screen and (max-width: 768px) {
  .app-container {
    font-size: 0.9em;
    height: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .app-container {
    width: 60%;
  }
}

.meals {
  border-radius: 5px;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
}

.meal {
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.5em;
  background-color: #3c2e44;
}

.meal:hover {
  cursor: pointer;
  opacity: 0.75;
}

.meal:active {
  opacity: 0.25;
}

.shopping-list {
  text-align: center;
  margin-top: 2em;
  font-size: 1.5em;
  color: #71B168;
}

.selected {
  color: #71B168;
}

.unselected {
  color: #E7EE28;
}

.meal-name {
  font-size: 1.5em;
  font-weight: bold;
  color: inherit;
}

.meal-ingredients {
  display: flex;
  flex-wrap: wrap;
}

.meal-ingredient {
  border-radius: 5px;
  font-size: 0.75em;
  margin-right: 0.5em;
  font-weight: 100;
}

.row {
  display: flex;
  margin: 0px 20px 0px 20px;
}

.column {
  flex: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-10-negative {
  margin-top: -10px;
}
