.app {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .app-container {
    font-size: 0.9em;
    height: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .app-container {
    width: 60%;
  }
}

.meals {
  border-radius: 5px;
  margin: 2em;
}

.meal {
  padding: 1em;
}

.meal-name {
  font-size: 1.5em;
  margin-left: 0.25em;
  font-weight: bold;
}

.meal-ingredients {
  display: flex;
  flex-wrap: wrap
}

.meal-ingredient {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid black;
}

.row {
  display: flex;
  margin: 0px 20px 0px 20px;
}

.column {
  flex: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-10-negative {
  margin-top: -10px;
}
