body {
  font-family: "Roboto Mono", sans-serif;
  color: #E7EE28;
  background-color: #322638;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
